<style>
    #everything {
        background-image: url('{{ "/objects/vynnitsya_semen_shyrochyn.jpg" | relative_url}}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #essay-banner {
    position: relative;
    background-color: transparent; /* Fallback color for the banner */
    padding-top: 0em; /* Add spacing above the content */
    padding-bottom: 0em; /* Add spacing below the content */
    }

    #essay-banner #title {
        padding: 0.5em; /* Adds padding for spacing */
        color: #0000ff; /* Title color */
        font-size: 2.5rem; /* Base font size */
        text-align: start; /* Centers the title */
        line-height: 1.2; /* Adjust line height for better readability */
    }

    #essay-banner a.essay-banner-title {
        text-decoration: none; /* Removes underline */
        color: #0000ff; /* Ensures consistent color */
    }

    #essay-banner .container {
        position: relative;
        z-index: 2; /* Ensures content is above background */
    }

    #essay-banner .row.align-items-center {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center; /* Center-aligns content horizontally */
    }

    /* Adjust title font size for smaller screens */
    @media screen and (max-width: 900px) {
        #essay-banner #title {
            font-size: 2rem; /* Reduce font size for medium screens */
        }
    }

    @media screen and (max-width: 576px) {
        #essay-banner #title {
            font-size: 1.5rem; /* Further reduce font size for small screens */
        }
    }

    #home-banner {        
        height: 400px;
        position: relative;
    }
    #title-box {
        margin-top: 15em; 
        /* margin-left: 1em;
        margin-right: 1em;
        position: absolute;
        left: 0.0005em;
        bottom: 0.0005em; */
    }
    #toc-box {
        position: absolute;
        right: 1em;
        bottom: .15em;
    }
    @media screen and (max-width: 900px) {
        #home-banner {        
            height: 500px;
        }
        #title-box {
            margin-top: 2em;
        }
    }

    @media screen and (max-width: 576px) {
        #home-banner {        
            height: 500px;
        }
        #title-box {
            margin-top: 2em;
            margin-right: auto;
            margin-left: auto;
        }
    }
    /* .nav-buttons:hover {
        color: white;
        background: rgba(200,16,46,.10) !important;
    } */
</style>