<style>
    #everything {
        background-image: url('{{ "/objects/vynnitsya_semen_shyrochyn.jpg" | relative_url}}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #essay-banner {
    position: relative; /* Ensures the pseudo-element is positioned relative to the container */
    min-height: 115px; /* Ensures minimum height */
    background-color: transparent; /* Fallback color */
    }

    #essay-banner::before {
    content: ''; /* Creates an empty element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('{{ "assets/img/banner-img-cropped.JPG" | relative_url }}');
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat;
    background-position: top; /* Aligns the image to the top */
    opacity: 0.3; /* Sets opacity for the background */
    z-index: 0; /* Places it behind the content */
    }

    #essay-banner .container {
        position: relative;
        z-index: 2; /* Ensures the content is above the pseudo-element */
        
    }

    #essay-banner .row.align-items-center {
        display: flex;
        align-items: center;
    }

    #essay-banner #title {
        padding-top: 2em;
        padding-bottom: 0;
        z-index: 3;
        color: #0000ff;
    }

    #home-banner {        
        height: 400px;
        position: relative;
    }
    #title-box {
        margin-top: 15em; 
        /* margin-left: 1em;
        margin-right: 1em;
        position: absolute;
        left: 0.0005em;
        bottom: 0.0005em; */
    }
    #toc-box {
        position: absolute;
        right: 1em;
        bottom: .15em;
    }
    @media screen and (max-width: 900px) {
        #home-banner {        
            height: 500px;
        }
        #title-box {
            margin-top: 2em;
        }
    }

    @media screen and (max-width: 576px) {
        #home-banner {        
            height: 500px;
        }
        #title-box {
            margin-top: 2em;
            margin-right: auto;
            margin-left: auto;
        }
    }
    /* .nav-buttons:hover {
        color: white;
        background: rgba(200,16,46,.10) !important;
    } */
</style>