{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
    #home-banner {
        background-image: url('{{ site.data.featured_item.src | relative_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    }
    #home-title-box {
        padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
        padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    }
    @media screen and (max-width: 576px) {
        #home-title-box {
            max-height: 500px;
        }
    }
</style>

{%- elsif page.layout == "landing-page" -%}
<div id="home-banner" class="container-fluid mt-3 mb-5">
    <div id="title-box" class="col-md-5 py-md-2 text-white text-center site-title">
        <h1 class="display-2 p-0 m-0"><span class="title-underline">Destroyed Ukrainian Heritage</span></h1>
        <h5 class="mb-0 mt-1 site-subtitle">Ukraine's Built Heritage since February 24, 2022. A Record of Destruction</h5>
    </div>
    <!-- <div class="col-md-2 d-flex justify-content-center" style="margin-top: 180px;">
        <a href="#Introduction" class="btn btn-dark btn-sm bg-opacity-75 rounded d-none d-md-block">
            Introduction
            <svg class="bi icon-sprite" role="img" aria-label="Jump to Exhibit Introduction">
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#arrow-down" />
            </svg>
        </a>
    </div> -->
    <div class="container text-end">
        <a href="{{ '/browse.html' | relative_url }}" 
        class="btn btn-outline-dark btn-lg text-white shadow-sm" 
        style="border-width: 5px; border-color: black; 
            font-weight: 700;
            text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.8); 
            line-height: 1.5;">
        Enter the virtual exhibition &raquo;
        </a>
    </div>
    
</div>

{%- else -%}
<div id="essay-banner" class="container-fluid">
    <div class="container">
        <div class="row align-items-start">
            <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
                <a class="essay-banner-title" href="{{ '/' | relative_url }}">
                    {{ site.title }}
                </a> 
            </div>
            {% if site.organization-logo-banner %}
            <div class="col-md-3 d-none d-lg-block text-end">
                <a class="btn" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" 
                         title="{{ site.organization-name }}" 
                         alt="{{ site.organization-name | escape }} home" 
                         style="max-width: 200px; height: auto;">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{%- endif -%}