<footer class="bg-dark pt-3 mt-auto container-fluid">
  <div class="container d-flex justify-content-between align-items-center flex-wrap mb-1">
    <!-- Left Section: Site Title and Navigation -->
    <div class="footer-left text-start">
      <h2 class="h5 mb-0 text-white">Destroyed Ukrainian Heritage</h2>
      <nav class="mt-2">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-white fs-6 p-0" href="https://leibniz-gwzo.de/en" target="_blank" rel="noopener">&copy; <small>Leibniz Institute for the History and Culture of Eastern Europe (GWZO)</small></a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- Right Section: Logos and Imprint/Privacy Links -->
    <div class="footer-right d-flex flex-column align-items-end">
      <div class="d-flex gap-3 mb-2">
        <a class="text-white" href="/imprint.html">Imprint</a>
        <a class="text-white" href="/privacy.html">Privacy</a>
        <a class="text-white" href="https://leibniz-gwzo.de/de/digitale-ausstellungen" target="_blank" rel="noopener"><small>  More Exibitions</small></a>
      </div>
      <div class="d-flex align-items-center">
        {% if site.organization-logo-nav %}
        <a href="https://leibniz-gwzo.de/en" target="_blank" rel="noopener">
          <img id="footer-logo" class="img-fluid" style="max-height: 60px;" src="assets/img/e-30JahreLogo-horizontal-weiss-cmyk.png" alt="Leibniz Institute for the History and Culture of Eastern Europe (GWZO) home">
        </a>
        {% endif %}
        <div class="ms-3">
          <small class="text-white">
            <em>built with</em>
            <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
              <img src="/assets/img/collectionbuilder-logo.png" class="img-fluid mb-1" style="max-height: 30px;" alt="CollectionBuilder">
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bottom Section: Last Updated -->
  <div class="col-md-12 text-center border-top pt-1">
    <p class="text-white fs-6"><small>Last updated {{ site.time | date: '%Y' }}</small></p>
  </div>
</footer>
